@font-face {
  font-family: 'iconfont';  /* Project id 2527614 */
  src: url('//at.alicdn.com/t/font_2527614_duqzhm5x565.woff2?t=1625991967852') format('woff2'),
       url('//at.alicdn.com/t/font_2527614_duqzhm5x565.woff?t=1625991967852') format('woff'),
       url('//at.alicdn.com/t/font_2527614_duqzhm5x565.ttf?t=1625991967852') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }