$dark-fontcolor:#000;
$content-fontcolor: #333;
$content-notice-fontcolor:#777;
$content-bgColor: #f1f1f1;
$search-bgColor:#f5f5f5;
$search-fontColor:#b6b6b6;
$red-hightlight-fontColor:#e93b3b;
$light-gray-fontColor:#999;
$medium-gray-fontColor:#666;
$bgColor-btn-blue:#0091ff;
$bgColor-white:#fff;